<div class="row">
  <div class="col-md-10">
    <img src="http://via.placeholder.com/500x300" alt="name" class="img-fluid w-100 rectangle" />
  </div>
</div>
<br>
<div class="row">
    <div class="col-md-10">
      <div class="card rectangle">
        <div class="card-body">
          <h4 class="card-title">
            Recipe Name
          </h4>
          <p class="card-text">
            Description
          </p>
        </div>
      </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-10">
      <div class="button-group float-right">
          <button class="btn btn-primary dropdown-toggle rectangle" type="button">Manage Recipe</button>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Add Ingredient</a>
            <a href="#" class="dropdown-item">Edit Recipe</a>
            <a href="#" class="dropdown-item">Remove Recipe</a>
          </div>
      </div>
      
    </div>
</div>
<br>
<div class="row">
  <div class="col-md-10">
    Ingredient
  </div> 
</div>