<div class="row">
  <div class="col-md-12">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid w-100 rectangle" />
  </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
      <div class="card rectangle">
        <div class="card-body">
          <h4 class="card-title">
            {{recipe.name}}
          </h4>
          <p class="card-text">
            {{recipe.description}}
          </p>
        </div>
      </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
      <div class="button-group float-right" appDropdown>
          <button class="btn btn-primary dropdown-toggle rectangle" type="button">Manage Recipe</button>
          <div class="dropdown-menu dropdown-menu-right">
            <a role="button" class="dropdown-item" (click)="addAllIngredientsToShoppingList(recipe.ingredients)">Add All Ingredients</a>
            <a role="button" class="dropdown-item" [routerLink]="['edit']">Edit Recipe</a>
            <a role="button" class="dropdown-item"(click)="onDeleteRecipe()">Remove Recipe</a>
          </div>
      </div>
      
    </div>
</div>
<br>
<div class="row">
  <div class="col-md-10">
    <div class="list-group">
      <li class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients">
          {{ingredient.name}} - {{ingredient.amount}}
          <a class="fa fa-plus float-right"
           title="Add to shopping list"
           style="cursor: pointer;"
           role="button" (click)="addIngredientToShoppingList(ingredient)"></a></li>
    </div>
  </div> 
</div>