.col-md-3 {
    margin-top: 5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.rectangle {
    border-radius: 0px;
}

a {
    cursor: pointer;
}

h6.card-title {
    margin: 5px 5px 5px 5px;
}