<div class="row">
    <div class="col-md-10">
        <button role="button" class="btn btn-success rectangle"
           (click)="onClickAddRecipe()">
            New Recipe
            <li class="fa fa-plus"></li>
    </button>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-10">
            <div class="row">
                <app-recipe-item *ngFor="let recipe of recipes"
                                [recipe]="recipe"
                                class="col-md-6">
                </app-recipe-item>
            </div>
    </div>
</div>
