<div class="row">
    <div class="col-md-10">
        <button class="btn btn-success rectangle">
            New Recipe
            <li class="fa fa-plus"></li>
        </button>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-10">
            <div class="row">
                <app-recipe-item *ngFor="let recipe of recipes"
                                [recipe]="recipe" class="col-md-6"
                                (recipeSelectedEvent)="onRecipeSelect(recipe)">
                </app-recipe-item>
            </div>
    </div>
</div>
